.landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    font-family: Lato;

}

.left-side {
    display: flex;
    flex-direction: column;
    padding-left: 71px;
    margin-bottom: 64px;
    margin-top: 135px;
    margin-right: 43px;
}

.content {
    gap: 24px;
    width: 601px;
}

.content__title {
    height: auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0.01em;
    text-align: left;
}

.content__text {
    height: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}

.content__button {
    width: 222px;
    padding: 24px 56px 24px 56px;
    gap: 10px;
    border-radius: 40px 40px 40px 40px;
    margin-top: 24px;
    background: #333333;
    color: #FFFFFF;
}

.cards {
    width: 578px;
    margin-top: 113px;
    width: 581px;
    gap: 32px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}

.top-cards {
    gap: 32px;
    display: flex;
    flex-direction: row;
}

.top-cards_left {
    padding: 24px 28px 24px 24px;
    gap: 8px;
    border-radius: 24px 24px 24px 24px;
    background: #C6D9E1;
}

.top-cards_left__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
}

.top-cards_left__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.top-cards_right {
    padding: 24px 28px 24px 24px;
    gap: 8px;
    border-radius: 24px 24px 24px 24px;
    background: #F4F4F4;
}

.top-cards_right__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
}

.top-cards_right__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.botton-cards {
    height: auto;
    padding: 16px 24px 16px 24px;
    gap: 38px;
    border-radius: 24px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    background: #F4F4F4;
    margin-top: 32px;

}

.botton-cards_left {
    gap: 8px;
    opacity: 0px;
}

.botton-cards_left__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;

}

.botton-cards_left__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.botton-cards_photo {
    height: auto;
    width: 188px;
}

.hero-photo {
    margin-top: 119px;
    align-self: end;
}